@model ZahtjevCreateAdminViewModel

@{
    ViewBag.Title = "Kreiranje zahtjeva administrator";
}

<form asp-controller="Administracija" asp-action="CreateZahtjev" method="post" class="mt-3">

    <div class="form-group row">
        <label asp-for="UserName" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <select asp-for="UserName" asp-items=@(new SelectList(Model.Djelatnici, "UserName", "ImePrezime")) class="form-control">
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="DatumOdsustva" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="DatumOdsustva" class="form-control" type="text" placeholder="DatumOdsustva">
            <span asp-validation-for="DatumOdsustva" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="VrijemeOdsustvaOd" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="VrijemeOdsustvaOd" class="form-control" type="text" placeholder="VrijemeOdsustvaOd">
            <span asp-validation-for="VrijemeOdsustvaOd" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="VrijemeOdsustvaDo" class="col-sm-2 col-form-label"></label>
        <div class="input-group col-sm-10">
            <input readonly asp-for="VrijemeOdsustvaDo" class="form-control" type="text" placeholder="VrijemeOdsustvaDo">
            <span asp-validation-for="VrijemeOdsustvaDo" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <label asp-for="Komentar" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <textarea rows="5" cols="40" asp-for="Komentar" class="form-control"></textarea>
            <span asp-validation-for="Komentar" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary">Spremi</button>
            <a asp-controller="Zahtjev" asp-action="Index" class="btn btn-primary">Odustani</a>
        </div>
    </div>

</form>

@section Scripts {
    <script src="~/js/ZahtjevCreateAdmin.js" asp-append-version="true"></script>
}