<div class="text-center">
    <h1 class="text-danger">Zahtjev odbijen</h1>
    <h6 class="text-danger">Nemate prava na ovu akciju</h6>
    <img src="~/images/noaccess.jpg" style="height:300px; width:300px" />
</div>